<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Welcome to Picobot</h1>
    <p>This clone is created by Milo McCarty</p>

    <p>Rules are written as follows:</p>
    <p><b>&lt;current state &gt; &lt;surroundings&gt; -&gt; &lt;direction&gt; &lt;next state&gt;</b></p>
    <p><b>current state</b> state is kept track of. rules are state based.</p>
    <p><b>surroundings</b> rule is selected based on the surroundings and the state</p>
    <p><b>direction</b> direction for picobot to move for selected rule </p>
    <p><b>next state</b> the next state for picobot to enter</p>
    <button onclick="window.location.href='/staging'">Staging</button>
</body>
</html>